name: Deploy Capstone Project

on:
  push:
    branches:
      - main
  workflow_dispatch: 

jobs:
  deploy:
    runs-on: windows-latest
    # env:
    #   DATABRICKS_HOST: ${{ secrets.DATABRICKS_HOST }}
    #   DATABRICKS_TOKEN: ${{ secrets.DATABRICKS_TOKEN }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.11"

      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry
        
      - name: Install Dependencies
        run: |
          poetry install

      - name: Install pre-commit hooks
        run: |
          poetry run pre-commit install

      - name: Run pre-commit hooks
        run: |
          poetry run pre-commit run --all-files

      - name: Run unit tests
        run: |
          poetry run pytest tests

      # - name: Install Databricks CLI
      #   run: |
      #     pip install databricks-cli

      # - name: Build and Deploy to Databricks
      #   run: |
      #     pwsh -File .\cubix_data_engineer_capstone\upload_latest_whl.ps1